<p>contador-creadita works!</p>
<div class="container">

  <h1>Propietario</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="idContador" [(ngModel)]="contador.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>descContador</mat-label>
    <input matInput placeholder="descContador" [(ngModel)]="contador.descContador">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>linkedinContador</mat-label>
    <input matInput placeholder="linkedinContador" [(ngModel)]="contador.linkedinContador">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Seleccione Usuario</mat-label>
    <mat-select [(value)]="idUsuarioSeleccionado" required>
      <mat-option *ngFor="let u of listaUsuario" [value]="u.id">
          {{u.nombreUsuario}}
      </mat-option>
  </mat-select>
</mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/contador">Cancelar</button>
  <p>{{mensaje}}</p>

</div>