<div class="container">
<div style=" text-align: center;">
    <h1>Lista de contratos</h1>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


    <!-- Weight Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idContrato}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="fechainicio">
        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fechainiContrato}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="fechafin">
        <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fechafinContrato}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="vigencia">
        <th mat-header-cell *matHeaderCellDef> Vigencia </th>
        <td mat-cell *matCellDef="let element"> {{element.vigenciaContrato}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let element"> {{element.montoContrato}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="idcontador">
        <th mat-header-cell *matHeaderCellDef> Contador </th>
        <td mat-cell *matCellDef="let element"> {{element.Usuario.id}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="idempresario">
        <th mat-header-cell *matHeaderCellDef> Empresario </th>
        <td mat-cell *matCellDef="let element"> {{element.Usuario.id}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="tipomoneda">
        <th mat-header-cell *matHeaderCellDef> Tipo Moneda </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoMoneda.Tipo}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="tipopago">
        <th mat-header-cell *matHeaderCellDef> Tipo Pago </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoPago.id}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="curriculumvitae">
        <th mat-header-cell *matHeaderCellDef> Curriculum Vitae </th>
        <td mat-cell *matCellDef="let element"> {{element.Curriculum.id}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>