<div class="container">
    <br>
    <h1 style=" text-align: center;">
        <FONT FACE="Comic Sans MS" size=6>Cantidad de capacitaciones por curriculum</FONT>
    </h1>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="capacitacion">
            <th mat-header-cell *matHeaderCellDef> Capacitación </th>
            <td mat-cell *matCellDef="let element"> {{element.capacitacion}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    &nbsp;
    <button mat-raised-button color="primary" routerLink="/curriculum" class="mat-elevation-z8">Regresar</button>  
</div>