
<div class="container">

    <h1>Experiencia</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>idExperiencia</mat-label>
      <input matInput placeholder="idExperiencia" [(ngModel)]="experiencia.idExperiencia">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput required placeholder="descExperiencia" [(ngModel)]="experiencia.descExperiencia">
  
    </mat-form-field>
  
    <br>
    
    <button mat-raised-button color="primary" (click)="aceptarExperiencia()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/experiencia">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>