<div class="container">
    <div style=" text-align: center;">
        <h1>Lista de solicitud de empleo</h1>
    </div>
    <app-contador-buscar></app-contador-buscar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Weight Column -->
        <ng-container matColumnDef="idSE">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.idSE}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="fechaSE">
            <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaSE}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="estadoSE">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> {{element.estadoSE}} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="contadoridSE">
            <th mat-header-cell *matHeaderCellDef> Id contador</th>
            <td mat-cell *matCellDef="let element"> {{element.contador.id}} </td>
        </ng-container>

        <ng-container matColumnDef="contadorSE">
            <th mat-header-cell *matHeaderCellDef> contador</th>
            <td mat-cell *matCellDef="let element"> {{element.contador.usuario.nombreUsuario}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>