<div style=" text-align: center;">
    <h1>Lista de usuarios</h1>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idUsuario">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dniUsuario">
        <th mat-header-cell *matHeaderCellDef> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dniUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombreUsuario">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidoUsuario">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numeroUsuario">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="correoUsuario">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correoUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fotoUsuario">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element"> {{element.fotoUsuario}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>