<mat-form-field class="example-full-width">

    <div class="form-control">
        <label>Buscar habilidad:</label>
        <input matInput type="text" (keyup)="buscardescHabilidad($event)">
    </div>
</mat-form-field> 
&nbsp;
<mat-form-field class="example-full-width">
    <div class="form-control">
        <label>Buscar capacitacion:</label>
        <input matInput type="text" (keyup)="buscardescCapacitacion($event)">
    </div>
</mat-form-field> 
&nbsp;
<mat-form-field class="example-full-width">
    <div class="form-control">
        <label>Buscar experiencia:</label>
        <input matInput type="text" (keyup)="buscardescExperiencia($event)"> 
    </div>
</mat-form-field> 

