<div style=" text-align: center;">
    <h1>Lista de habilidades</h1>
</div>
<app-habilidad-buscar></app-habilidad-buscar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="idHabilidad">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="descHabilidad">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descHabilidad}} </td>
    </ng-container>
    <ng-container matColumnDef="accion1">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
            [routerLink]="['edicion', element?.id]">Actualizar</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="accion2">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="warn" (click)="confirmarHabilidad(element.id)">Eliminar</button>
  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div class="example-button-container">
  
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/habilidad/insertar">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>