<div class="container">
    <h1>Registre nuevo tipo de pago</h1>
    <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput placeholder="id" [(ngModel)]="tipopago.id">
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
        <mat-label>Tipo pago</mat-label>
        <input matInput required placeholder="tipodepago" [(ngModel)]="tipopago.TipodePago">

    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" (click)="aceptarTipoPago()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/tipopago">Cancelar</button>
    <p>{{mensaje}}</p>
</div>