<div class="container">
    <div style=" text-align: center;">
      <h1>Lista de Curriculums</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="habilidad">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Habilidad.id}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="capacitacion">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.Capacitacion.id}} </td>
      </ng-container>
      <ng-container matColumnDef="experiencia">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.Experiencia.id}} </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div class="example-button-container">
  
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        routerLink="/curriculum/insertar">
        <mat-icon>plus_one</mat-icon>
      </button>