
<p>propietario-creaedita works!</p>
<div class="container">

  <h1>Capacitacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="capacitacion.idCapacitacion">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Descripcion</mat-label>
    <input matInput required placeholder="descCapacitacion" [(ngModel)]="capacitacion.descCapacitacion">

  </mat-form-field>

  <br>
  
  <button mat-raised-button color="primary" (click)="aceptarCapacitacion()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/capacitacion">Cancelar</button>
  <p>{{mensaje}}</p>

</div>