
<div class="container">

  <h1>Capacitacion</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="idCapacitacion" [(ngModel)]="capacitacion.idCapacitacion">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Descripcion</mat-label>
    <input matInput required placeholder="descCapacitacion" [(ngModel)]="capacitacion.descCapacitacion">

  </mat-form-field>

  <br>
  
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/capacitaciones">Cancelar</button>
  <p>{{mensaje}}</p>

</div>